body {
    background-color: linen;
}

.encabezado-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #1d1c1c;*/
    background-color: #88BBD6;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .encabezado-fijo .logo {
    float: left;
    margin-right: 20px;
  }
  
  .encabezado-fijo nav {
    float: right;
  }
  
  .encabezado-fijo nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .encabezado-fijo nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .encabezado-fijo nav a {
    color: #333;
    text-decoration: none;
  }
  
  .encabezado-fijo nav a:hover {
    color: #666;
  }



  /* boddy*/
.container {
    margin-top: 100px;

}
  .cuadro-derecha {
    position: relative;
    float: right;
    width: 74.99%;
    /*padding: 20px;*/
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cuadro-derecha p {
    font-size: 16px;
    color: #666;
    text-align: justify;
    padding-left: 2%;
  }
  .cuadro-derecha h2 {
    font-size: 40px;
    color: #666;
    text-align: center;
  }


  .cuadro-derecha h3 {
    font-size: 29px;
    color: #666;
    text-align: justify;
    padding-left: 2%;
  }



  /* index  aside*/
  aside {
    position: relative;
    float: left;
    width: 16%;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 800px;

  }
  aside p{
    color: #666;
  }








  /* referencias y utilidades*/
  .container-cajita {
    display: flex;
    justify-content: center;
  }


  .cajita {
    align-self: center;
    width:  85%; /* Anchura del cuadrado igual a la del contenedor */
    max-width: 90%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 15px; /* Más redondez */
    padding: 30px; /* Más espacio interno */
    box-shadow: 0 6px 12px #00000033; /* Sombra más intensa */
  }


  .Poemario {
    display: flex;
  align-items:flex-start;
  padding-top: 0;
  }

  .Poemario img {
    float: left;
    width: 20%;
    height: 30%;

  }
  .Poemario .container-texto-links{
    padding-left: 2%;
  }
  .Poemario p{
    font-size: 16px;
    color: #666;
    text-align: justify;
    padding-left: 0%;

  }
  .Poemario h3{
    font-size: 24px;
    color: #666;
    text-align: justify;
    padding-left: 0%;

  }


  .Poemario table {
    border-collapse: collapse; /* combina los bordes de las celdas */
    border: 1px solid #ccc; /* agrega un borde a la tabla */
  }
  
  .Poemario td {
    border: 1px solid #ccc; /* agrega un borde a las celdas */
  }
  